body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.row{
    display: flex;
    justify-content: center;
}

.box{
    background-color: rgb(11, 83, 0); 
    min-width: 10vh;
    min-height: 6.5vh;
    margin: 10px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 28px;
    align-items: center;
    border-radius: 8px;
    color: white;
    border: 0px solid black;
}

.box:hover{
    background-color: rgb(33, 121, 20);
    border: 0px solid black;
}

.output{
    display: flex;
    min-width: 20vh;
    max-width: 45vh;
    min-height: 10vh;
    background-color: rgb(33, 121, 20);
    border-radius: 12px;
    padding: 1.5vh;
    text-align: start;
    align-items: center;
    color: white;
    font-size: 28px;
    font-weight: 900;
    box-shadow: 0px 0px 68px -12px rgba(0,0,0,0.33) inset;
    -webkit-box-shadow: 0px 0px 68px -12px rgba(0,0,0,0.33) inset;
    -moz-box-shadow: 0px 0px 68px -12px rgba(0,0,0,0.33) inset;
    border: 0px solid black;
}

.calculator{
    background-color: rgb(115, 164, 106); 
    max-width: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5vh 3vh;
    border-radius: 15px;
}